{% load static %}
{% include 'header.html' %}


<!-- contact section start -->
<div class="contact_section contact_main">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-6 padding_0">  
             <div class="contact_bg">
                <div class="input_main">
                   <div class="container">
                      <h2 class="request_text">EDIT</h2>
                      
                      <form action="addchanges/{{result.id}}" method="POST" enctype="multipart/form-data" >
                        {% csrf_token %}

                         <div class="form-group">
                            <input type="text" class="email-bt" placeholder="Full Name" value="{{result.name}}" name="name">
                         </div>
                         <div class="form-group">
                            <input type="email" class="email-bt" placeholder="Email" value="{{result.email}}" required name="email">
                         </div>
                         <div class="form-group">
                            <input type="password" class="email-bt" placeholder="Password" value="{{result.password}}" required name="password">
                         </div>
                         <div class="form-group">
                            <input type="number" class="email-bt" placeholder="Mobile Number" value="{{result.number}}" required name="number">
                         </div>
                         <div class="form-group">
                            <input type="text" class="email-bt" rows="7" placeholder="Current Address" value="{{result.address}}" required name="address">
                         </div>
                         <div class="form-group">
                            <button  class="form-control btn btn-primary" type="submit">SUBMIT</button>
                        </div>

                      
                      </form>
                   </div>
                </div>
                
             </div>
          </div>
          
       </div>
    </div>
 </div>
 <!-- contact section end -->

 {% include 'footer.html' %}